@import "tailwindcss";

:root {
  --background: #1e1b4b;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounce-once {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.animate-bounce-once {
  animation: bounce-once 0.3s ease-out;
}

@keyframes float-title {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float-title 2s ease-in-out infinite;
}

.card-container {
  perspective: 1000px;
}

.card-inner {
  width: 5rem;
  height: 5rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.75rem;

  background: linear-gradient(135deg, #c026d3, #6366f1);

  border: 0.00000007px solid rgba(255, 255, 255, 0.9);

  transition: all 0.3s ease;

  backface-visibility: hidden;
}

.card-front:hover {
  box-shadow: 
    0 0 10px rgba(255, 255, 255, 1),
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6);
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.75rem;

  background: white;
  transform: rotateY(180deg);

  backface-visibility: hidden;
}